@using ElmanhagPlatform.ViewModels.StudentVM
@model EditStudentVM

@{
    ViewData["Title"] = "Login Page";
}
<header>
    <style>
        .form-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .form-group {
            flex: 1 1 45%;
            min-width: 225px;
        }

        media (max-width: 768px) {
            .form-container{
                flex-direction: column;
            }
        }

        .hire-info {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 20px;
            margin: 0;
            box-sizing: border-box;
        }

        .container {
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
        }

        .hire-info form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            /* color: #ff9933; */
            text-align: center;
            margin-bottom: 20px;
        }

        .btn-h {
            /* background-color: #ff9933; */
            color: #333;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 20px;
        }

            .btn-h:hover {
                /* background-color: #ff9933; */
            }

        .dan{
            color :red;
        }
        </style>
</header>

<div id="contact" class="hire">
    <div class="container">
        <div class="hire-details">
            <h1 class="text-primary">تعديل البيانات</h1>
            <h3>قم بالتعديلات التالية حتي يتم تاكيد حسابك</h3>
            <h3 class="dan">"@ViewBag.user.descreption"</h3>
            <div class="hire-info">
                <form id="account" method="post" asp-action="Edit" asp-controller="Student" enctype="multipart/form-data" onsubmit="return confirmSubmission();">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-container">
                        <div class="form-group">
                            <input asp-for="FullName" autocomplete="on" aria-required="true" type="text" class="form-control" placeholder="الاسم رباعي" onfocus="this.placeholder = ''" onblur="this.placeholder ='الاسم رباعي'">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="UserName" autocomplete="tel" aria-required="true" type="tel" class="form-control" placeholder="رقم الهاتف" onfocus="this.placeholder = ''" onblur="this.placeholder ='رقم الهاتف'">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="PhoneNumber" autocomplete="tel" aria-required="true" type="tel" class="form-control" placeholder="رقم هاتف ولي الامر" onfocus="this.placeholder = ''" onblur="this.placeholder ='رقم هاتف ولي الامر'">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" autocomplete="on" aria-required="true" type="email" class="form-control" placeholder="البريد الالكتروني" onfocus="this.placeholder = ''" onblur="this.placeholder ='البريد الالكتروني'">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="CardNumber" autocomplete="on" type="number" aria-required="true" class="form-control" placeholder="الرقم القومي" onfocus="this.placeholder = ''" onblur="this.placeholder ='الرقم القومي'">
                            <span asp-validation-for="CardNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>صورة البطاقة او شهادة الميلاد<span class="tx-danger"></span></label>
                            <input asp-for="Image" type="file" class="form-control-image" accept="image/*" aria-required="true" placeholder="صورة البطاقة او شهادة الميلاد" onfocus="this.placeholder = ''" onblur="this.placeholder ='صورة البطاقة او شهادة الميلاد'">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
@*                         <div class="form-group">
                            <input asp-for="Password" type="password" autocomplete="current-password" aria-required="true" class="form-control" placeholder="الرقم السري" onfocus="this.placeholder = ''" onblur="this.placeholder ='الرقم السري'">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" type="password" autocomplete="current-password" aria-required="true" class="form-control" placeholder="تاكيد الرقم السري" onfocus="this.placeholder = ''" onblur="this.placeholder ='تاكيد الرقم السري'">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div> *@
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-layout-footer mg-t-30 text-center">
                        <input type="submit" value="ارسال" class="btn-1 btn-h  btn btn-primary">
                        @* <a asp-controller="Home" asp-action="Index" class="btn-1 btn-h btn btn-primary">رجوع</a> *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script>
        function confirmSubmission() {
            if ($("#account").valid()) {
                return confirm("هل قمت بالتعديلات المطلوبة؟");
            } else {
                return false;
            }
        }
    </script>
}